<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chessdash543.tms/TMS_Background.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{640,360}</string>
			<key>spriteSourceSize</key>
			<string>{640,360}</string>
			<key>textureRect</key>
			<string>{{0,0},{640,360}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_Button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{0,362},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_Credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,42}</string>
			<key>spriteSourceSize</key>
			<string>{44,42}</string>
			<key>textureRect</key>
			<string>{{42,362},{44,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_DeleteButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{88,362},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>chessdash543.tms/TMS_DownloadButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{137,362},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>chessdash543.tms/TMS_Error.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{186,362},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_Featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{138,138}</string>
			<key>spriteSourceSize</key>
			<string>{138,138}</string>
			<key>textureRect</key>
			<string>{{272,362},{138,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_FileButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{412,362},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>chessdash543.tms/TMS_InfoButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{461,362},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>chessdash543.tms/TMS_Logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{286,34}</string>
			<key>spriteSourceSize</key>
			<string>{286,34}</string>
			<key>textureRect</key>
			<string>{{0,502},{286,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_MainButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{45,48}</string>
			<key>spriteSourceSize</key>
			<string>{45,48}</string>
			<key>textureRect</key>
			<string>{{510,362},{45,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>chessdash543.tms/TMS_Outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{325,253}</string>
			<key>spriteSourceSize</key>
			<string>{325,253}</string>
			<key>textureRect</key>
			<string>{{288,502},{325,253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_PlaceholderLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{0,538},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_RefreshButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{86,538},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>chessdash543.tms/TMS_Search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,-1}</string>
			<key>spriteSize</key>
			<string>{45,37}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{135,538},{45,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_SearchButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{19,18}</string>
			<key>spriteSourceSize</key>
			<string>{19,18}</string>
			<key>textureRect</key>
			<string>{{615,362},{19,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_Update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{19,43}</string>
			<key>spriteSourceSize</key>
			<string>{19,43}</string>
			<key>textureRect</key>
			<string>{{615,382},{19,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chessdash543.tms/TMS_Workshop.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{190,29}</string>
			<key>spriteSourceSize</key>
			<string>{190,29}</string>
			<key>textureRect</key>
			<string>{{86,586},{190,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>chessdash543.tms/TMSSheet.png</string>
		<key>size</key>
		<string>{640,755}</string>
		<key>textureFileName</key>
		<string>chessdash543.tms/TMSSheet.png</string>
	</dict>
</dict>
</plist>